<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <div class="container-fluid style-destroyer">
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title mb-30">
                            <h2>Menu List</h2>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper mb-30">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/menus/new">Add New Menu</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <%if(category !=='All' ) {%>
                                            <a href="/menus">All Menu</a>
                                            <% } %>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <h6 class="mb-10">Available menu list</h6>
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h6>id</h6>
                                            </th>
                                            <th>
                                                <h6>Name</h6>
                                            </th>
                                            <th>
                                                <h6>Price</h6>
                                            </th>
                                            <th>
                                                <h6>Category</h6>
                                            </th>
                                            <th>
                                                <h6>Action</h6>
                                            </th>
                                        </tr>
                                        <!-- end table row-->
                                    </thead>
                                    <tbody>
                                        <% for(let menu of menus) { %>
                                            <tr>
                                                <td class="min-width">
                                                    <div class="lead">
                                                        <div class="lead-text">
                                                            <p>
                                                                <%= menu.id %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="min-width">
                                                    <p><a href="#0">
                                                            <%= menu.name.toUpperCase() %>
                                                        </a></p>
                                                </td>
                                                <td class="min-width">
                                                    <p>
                                                       Tshs. <%= menu.price %>
                                                    </p>
                                                </td>
                                                <td class="min-width">
                                                    <p><a href="/menus?category=<%= menu.category %>">
                                                            <%= menu.category%>
                                                        </a></p>
                                                </td>
                                                <td>
                                                    <div class="action">
                                                        <button class="more-btn dropdown-toggle" id="moreAction"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="lni lni-more-alt"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end"
                                                            aria-labelledby="moreAction">
                                                            <li class="dropdown-item">
                                                                <a href="/menus/<%= menu.id %>/update "
                                                                    class="text-gray">Edit</a>
                                                            </li>
                                                        </ul>
                                                        <form action="/menus/<%= menu.id %>?_method=DELETE"
                                                            method="POST">
                                                            <button class="text-danger">
                                                                <i class="lni lni-trash-can"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <!-- end table row -->
                                                <!-- end table row -->
                                    </tbody>
                                </table>
                                <!-- end table -->
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <%- include('partials/scripts') %>
    </body>

</html>